body {
    background-image: url("../images/diamond-background.jpeg");
}

img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.jumbotron {
    font-family: 'Pirata One', cursive;
    background: rgb(0, 238, 255);
}

p, .panel-heading {
    font-family: 'Pirata One', cursive;
}

.panel-heading {
    background: rgb(0, 238, 255);
}

.panel {
    background: rgb(238, 238, 238);
}