/* Diamond background */
body {
    background-image: url("../images/diamond-background.jpeg");
}

/* Hides audio box in upper lefthand of screen */
audio {
    opacity: 0;
}

/* Img sizing */
img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

/* Font families */
p, .panel-heading, .jumbotron {
    font-family: 'Pirata One', cursive;
}

/* Background Colors */
.jumbotron, .panel-heading {
    background: rgb(0, 238, 255);
}

.panel {
    background: rgb(238, 238, 238);
}